page-testprinter {

}
// BACKGROUND IMAGE SCSS HERE....

.main{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}


//  TEST PRINTER BUTTON SCSS HERE......
.testbutton{
border-radius:2px;
height: 2em;
font-size: 12px;
margin-top: 18em;
}