
   <!-- LOGIN PAGE STARTS HERE......... -->

<ion-content class="main1">


   <!-- LOGIN PAGE BODY STARTS HERE........ -->
    <ion-grid>


            <!-- LOGIN BODY HEADER HERE........ -->
        <ion-row>
            <ion-col col-5 offset-5>
                <h1 align-items-center class="heading">LOGIN</h1>
            </ion-col>
        </ion-row>
   <!-- LOGIN BODY HEADER ENDS HERE........ -->






    <!-- SELECT HERE FOR ADMIN OR USER........ -->
        <ion-list radio-group>
            <ion-row>
                <ion-col col-5 offset-1>
                    <ion-item no-lines class="Radio-style">
                        <ion-label stacked class="radio-label">ADMIN</ion-label>
                    </ion-item>
                </ion-col>



                
                <ion-col col-6  no-lines  >
                    <ion-item no-lines class="Radio-style">
                        <ion-label stacked class="radio-label">USER</ion-label>
                       
                    </ion-item>
                </ion-col>
            </ion-row>


            
            <ion-radio value="admin" checked class="adminradio"></ion-radio>
            <ion-radio value="user" unchecked class="userradio"></ion-radio>
        </ion-list>
   <!-- ADMIN AND USER SELECTION ENDS HERE........ -->





     <!-- ENTER HERE YOUR ACTIVATION CODE OR EMPLOYEE MOBILE NUMBER.......... -->
        <ion-row>
            <ion-item no-lines class="input-row">
         <ion-input type="text" class="input-style" value="" style="margin-top:-2px;padding-top:0px;" placeholder="Enter your activation code"></ion-input>
            </ion-item>
        </ion-row>
      <!-- ADMIN OR USER SELECTION ENDS HERE..... -->
      




        <!-- SUBMIT BUTTON STARTS HERE......... -->

        <ion-row align-items-center style="margin-top:2%;">
            <ion-col col-6 offset-4>
                <button ion-button color="light" class="submit">SUBMIT</button>
            </ion-col>
        </ion-row>
     <!-- SUBMIT BUTTON END HERE......... -->





       <!-- CLICK HERE FOR FORGOT PASSWORD  -->
        <ion-row>
            <ion-col col-9 offset-2 style="margin-top:0.5em;">
                <p (click)="forgotalert()" class="forgot"><u>click here for forgot password</u></p>
            </ion-col>
        </ion-row>
      <!-- FORGOT PASSWORD LINK ENEDS HERE........ -->






       <!-- SOCIAL MEDIA IMAGES AND LINKS STARTS HERE........ -->
        <ion-row>
            <ion-col col-9 offset-4 style="margin-top:0.5em;" >
                    <a href="http://www.twitter.com"><img src="../../assets/imgs/fb.png" alt=""></a>

                    <a href="http://www.facebook.com"><img src="../../assets/imgs/ln.png" alt=""></a>

                    <a href="http://www.linkedin.com"><img src="../../assets/imgs/tw.png" alt=""></a>

                    <a href="http://www.youtube.com"><img src="../../assets/imgs/yt.png" alt=""></a>
            </ion-col>
        </ion-row>
        <!-- SOCIAL MEDIA IMAGES AND LINKS ENDS HERE........ -->


    </ion-grid>

</ion-content>      <!-- LOGIN PAGE BODY STARTS HERE........ -->








         <!-- LOGIN PAGE ENDS HERE......... -->