    
    <!-- BILL HISTORY HEADER  -->
 <ion-header>
    <ion-navbar>
      <ion-title style="margin-left:11%;">
      BILL HISTORY
      </ion-title>
      <ion-icon name="home" class="homeicon"></ion-icon>
    </ion-navbar>
  </ion-header> 
         
  <!--BILL HISTORY HEADER END  HERE..... -->
  
  
  
  
        <!-- PAGE BODY STARTS HERE..........  -->
  
  <ion-content  class="main">
  <ion-grid>
  



    <!-- DATE PICKER START HERE.......... -->
    <ion-row>
           <ion-col col-sm-4>
             
              <ion-label  stacked >FROM</ion-label>
              
              <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY"[(ngModel)]="dateOfvent" ></ion-datetime>
          
            </ion-col>
  
  
            
            <ion-col  col-sm-4>
                <!-- <ion-item > -->
                <ion-label  stacked >TO</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY"[(ngModel)]="dateOfvent1" ></ion-datetime>
              <!-- </ion-item> -->
              </ion-col>
  
      </ion-row>
  
   <!-- DATE PICKER END HERE.......... -->
  



   <!-- CUSTOMER CONTACT NUMBER  HERE... -->
  
      <ion-row>
     <ion-col col-sm-12>
     <ion-label  stacked > CUSTOMER CONTACT NUMBER </ion-label>
     <ion-input type="NUMBER" class="input-style" ></ion-input>
     </ion-col>
     </ion-row>
  
 <!-- CUSTOMER CONTACT NUMBER  END  HERE... -->

  

      <!-- SUBMIT BUTTON HERE............ -->
       <ion-row>
        <ion-col col-sm-12 offset-4>
        <button ion-button  color="light" class="lastbutton" style="" >SUBMIT</button>
       </ion-col>
       </ion-row>
 <!-- SUBMIT BUTTON END............ -->



       <!-- TOTAL BILLS STARTS HERE... -->

       <ion-row>
        <ion-col class="trans">
        <button ion-button full  color="light" class="viewbutton">TOTAL BILLS: 0</button>
       </ion-col>
       </ion-row>

   <!-- TOTAL BILLS END HERE... -->





      <!-- SEARCH BAR HERE.......... -->
       <ion-row> 
        <ion-col>
           <ion-input type="text" class="input-style"  style="text-indent:-35px;"placeholder="Search" ></ion-input>
           
         </ion-col>
         <ion-icon ios="ios-search" md="md-search" class="search"></ion-icon>
       </ion-row>
  
        <!-- SEARCH BAR END  HERE.......... -->


</ion-grid>

</ion-content>    
 <!-- PAGE BODY STARTS HERE..........  -->
