<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->
       

                
                <!-- WELCOME PAGE START HERE............ -->

<ion-content style="color:gray;" padding>


<p class="heading1"> WELCOME </p>


       <!-- EMOBILL LOGO HERE.... -->

<ion-row  style="margin-top:6%;" >

 <ion-col col-sm-4 col-xs-12 offset-4>
 <ion-img  class="emob" src="../../assets/imgs/emob.png"></ion-img>
 </ion-col>
 
</ion-row>

     <!-- EMOBILL LOGO END.... -->


<p class="heading2"> Powered By </p>


 
     <!-- EASTSHINE LOGO START HERE.... -->

<ion-col col-sm-5 col-xs-12 offset-5>

<ion-img class="eslogo" src="../../assets/imgs/eslogo.png"></ion-img>

</ion-col>

     <!-- EASTSHINE LOGO END .... -->




<p class="heading3"> EASTSHINE IT SOLUTIONS </p>





                 <!-- Start button start Here.. -->
 
<ion-row >
    <ion-col col-sm-4 col-xs-12 offset-4 >
   <button ion-button color="light" round class="startbutton" (click)="start()">START</button>
    </ion-col>
</ion-row>
 
               <!-- Start button end Here.. -->







                <!-- Free Trail button  Start  Here.. -->

<ion-row>
    <ion-col col-sm-3 col-xs-12 offset-2 >
     <button ion-button color="light" class="freetrailbutton" round (click)="freetrail()">FREE TRAIL</button>
    </ion-col>
</ion-row>


   <!-- DUMMY CODE THIS ONE.......... -->

<ion-row>
        <ion-col col-sm-3 col-xs-12 offset-2 >
         <button ion-button color="light" class="freetrailbutton" round (click)="salesreport()">SALES</button>
        </ion-col>
    </ion-row>

    <ion-row>
            <ion-col col-sm-3 col-xs-12 offset-2 >
             <button ion-button color="light" class="freetrailbutton" round (click)="billhistory()">BILLHISTORY</button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-sm-3 col-xs-12 offset-2 >
             <button ion-button color="light" class="freetrailbutton" round (click)="mysubscription()">MYSUBSCRIPTION</button>
            </ion-col>
        </ion-row>

        <ion-row>
                <ion-col col-sm-3 col-xs-12 offset-2 >
                 <button ion-button color="light" class="freetrailbutton" round (click)="testprinter()">TESTPRINTER</button>
                </ion-col>
            </ion-row>

            <ion-row>
                    <ion-col col-sm-3 col-xs-12 offset-2 >
                     <button ion-button color="light" class="freetrailbutton" round (click)="loginnew()">LOGIN</button>
                    </ion-col>
                </ion-row>
                <!-- Free Trail  button End  Here.. -->








            <!-- Social Media Links start  Here... -->

<!-- <ion-row >
    <ion-col col-sm-5 col-xs-12  offset-2 style="margin-top:10%;">

      
<ion-col col-sm-1>
<a href="http://ionicframework.com/docs/v2">   <img class="socialicons" style="" src="../../assets/imgs/0264a.png"> </a>
</ion-col>

    <ion-col col-sm-1>
<a href="http://ionicframework.com/docs/v2">  <img class="socialicons" style="" src="../../assets/imgs/round-linkedin-icon.png">  </a>
</ion-col>

<ion-col col-sm-1> 
<a href="http://ionicframework.com/docs/v2"> <img class="socialicons" style="" src="../../assets/imgs/twitter1.png"> </a> 
</ion-col>

<ion-col col-sm-1> 
<a href="http://ionicframework.com/docs/v2">  <img class="socialicons" style="" src="../../assets/imgs/WITC_SocialIcon_YouTube.png">   </a>
</ion-col>


 </ion-col>
</ion-row> -->

                               <!-- Social Media Links End Here... -->


</ion-content>
           
                                        <!-- WELCOME PAGE END HERE......... -->