page-mysubscription {

}


//  PAGE HEADER SCSS HERE......
.bheader{

    margin-left:5%; 
    overflow: visible;
}



//   BACKGROUND IMAGE SCSS.........


.main{

    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}






//   IOS HEADER SCSS.......
.toolbar-title-ios {
   
    font-size: 1.7rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
    overflow: visible;
    position: relative;
    left: 26px;
}





//   ACCOUNT DETAILS SCSS HERE........
.acntdetl{
    background-color: rgba(164, 164, 190, 0.4);
    color: white;
    border-radius: 14px;
}



//  MY SUBSCRIPTION SCSS HERE.........
.acntdetl2{
    background-color: rgba(164, 164, 190, 0.4);
    color: white;
    border-radius: 14px;
    margin-top: 17%; 
}


//   BODY HEADER SCSS HERE.........
.acntheader{
    text-align:center;
     text-decoration: underline;
     padding-top: 12px;
}


//  LEFT PADDING OF BODY CONTENT
.leftpadng{

    padding-left:5%;
    margin-top: -4%;
}


//   DAYS SCSS HERE...........
.days{
    margin-left: 6%;
    margin-top: -9%;
}


//  ACTIVATION DATE SCSS HERE...........
.acvtdate{
    color: white;
    margin-left:7%;
    margin-top: 10%;
}