


//  INPUT STYLE SCSS HERE.....
.input-style{
    border: transparent;
    padding: 3px;
    border-radius:8px;
    text-decoration: none;
    background-color: #cbe3eb;

}




//  SOCIAL MEDIA IMAGE SCSS HERE....
img{
    width: auto;
    height: auto;

}




//   RADIO BUTTON SCSS HERE.....
.Radio-style{
    // width: 135px;
    background: transparent;
}


//ADMIN RADIO BUTTON
.adminradio{

    margin-top: -12%;
    position: absolute;
    margin-left: 29%;
}


//
.userradio{
    margin-top: -12%;
    position: absolute;
    margin-left: 67%;
}

//  BODY BACKGROUND COLOR HERE.......
.main1{

   background-color: rgb(102, 74, 155);

}





//  PLACEHOLDER COLOR HERE......
.text-input::-moz-placeholder {
    color: gray;
    font-size: 12px;
    padding-top:10px;
    text-indent: 3em;
  }
  
  .text-input:-ms-input-placeholder {
    color: gray;
    font-size: 12px;
    padding-top:10px;
    text-indent: 3em;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 3em;
    color: gray;
    font-size: 12px;
    padding-top:10px;
  }






//  SUBMIT BUTTON SCSS HERE......

.submit{
    border-radius: 10px;
}





//  INPUT ROW BACKGROUND TRANSFERENT 
.input-row{

background: transparent;
}



// .btn{

//     align-items: center;
// }





//  HEADING COLOR HERE......
.heading{

    color:white;
}






//  RADIO LABEL COLOR HERE.....
.radio-label{

    color:white;
}





//  FORGOT PASSWORD LINK COLOR HERE......
.forgot{

    color: white;
}




//  BUTTON SHADOW SCSS HERE......
.item-md.item-input .item-inner
 {
     border-bottom-color: transparent !important;
     box-shadow: none !important;
     } 


.list-md .item-input:last-child
 {
     border-bottom-color: transparent !important;
      box-shadow: none !important;
     }


