  

      <!-- HEADER STARTS ... -->
      <ion-header>
      <ion-navbar>
      <ion-title style="margin-left:9%;">
       TEST PRINTER
      </ion-title>
      <ion-icon name="home" class="homeicon"></ion-icon>
      </ion-navbar>
      </ion-header> 
      <!-- HEADER END  ... -->




  <!-- PAGE BODY STARTS.... -->
<ion-content padding  class="main">


    <!-- TEST PRINTER BUTTON STARTS HERE....... -->
    <ion-row>
    <ion-col col-2 offset-4> 
    <button ion-button small class="testbutton"  color="light" (click)="testprinter()" >TEST PRINT </button>
    </ion-col>
    </ion-row>
    <!-- TEST PRINTER BUTTON END HERE....... -->


</ion-content>
    <!-- PAGE BODY STARTS HERE..... -->