page-monthlyreport {

}






//    BACKGROUND IMAGE HERE...........

.main{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}


.montheader
{
margin-left:11%;
}




//    INPUT STYLE HERE........
.input-style {
    border-radius: 17px;
    background-color: rgba(128, 128, 128,0.4);
    height: 40px;
  
}






//  SEARCH ICON SCSS HERE...........
.search{
    color: white;
    // margin-left: 17em;
    // position: absolute;
    // margin-top: 18px;
}
ion-icon.search.icon.icon-ios.ion-ios-search {
    margin-left: 17em;
}

ion-icon.search.icon.icon-md.ion-md-search {
    margin-left: 17em;
}





//  BACKGROUND TRANSFERENT HERE.........
.trans{
    background-color: transparent; 
}




    //  BUTTON SCSS HERE...........
.viewbutton{
    background-color: rgba(116, 113, 113, 0.6);
    border-radius: 10px;
   
    font-size:14px;
  
  }