
   <!-- PAGE HEADER STARTS HERE....... -->
<ion-header>
  <ion-navbar>
    <ion-title class="bheader">
    MY SUBSCRIPTION 
    </ion-title>
    <ion-icon name="home" class="homeicon"></ion-icon>
  </ion-navbar>
</ion-header> 
  <!-- PAGE HEADER END HERE....... -->
   





       <!-- PAGE BODY STARTS HERE....... -->

<ion-content padding class="main">


    <!-- ACCOUNT DETAILS START HERE... -->
    <div class="acntdetl">
      <p class="acntheader"> ACCOUNT DETAILS </p>





    <!-- REGISTERED ACCOUNT NAME STARTS HERE.... -->
      <ion-row class="leftpadng">  
       <ion-col col-sm-6> 
      Registered to 
      </ion-col> 
      <ion-col col-sm-6>  :mnb </ion-col>
    </ion-row>
     <!-- REGISTERED ACCOUNT END HERE.... -->
   





     <!-- APP PACKAGE TYPE START HERE..... -->
    <ion-row class="leftpadng"> 
        <ion-col col-sm-6> 
      App Package Type
      </ion-col>
      <ion-col col-sm-6> 
      :Elite
      </ion-col>
      </ion-row>
 <!-- APP PACKAGE TYPE END HERE..... -->






 <!-- SMS PACKAGE TYPE START HERE..... -->
      <ion-row class="leftpadng"> 
       <ion-col col-sm-6> 
      SMS Package  
      </ion-col>

      <ion-col col-sm-6> 
      :25000
      </ion-col>
      </ion-row>

 <!-- SMS PACKAGE TYPE END HERE..... -->






  <!-- ACTIVATION CODE STARTS HERE...... -->

      <ion-row class="leftpadng"> 
          <ion-col col-sm-6> 
      Activation Code  
      </ion-col>

      <ion-col col-sm-6> 
      :333
      </ion-col>
     </ion-row><br>

  <!-- ACTIVATION CODE STARTS HERE...... -->







    </div>
     <!-- ACCOUNT DETAILS END HERE... -->





    <!-- SUBSCRIPTION  DETAILS STARTS HERE... -->
    <div class="acntdetl2">
        <p class="acntheader"> SUBSCRIPTION DETAILS </p>

     <ion-row>
      <ion-col col-sm-6 offset-2 style="font-size:1.5em;">
            
        <ion-row>
               93
       </ion-row>

       <ion-row class="days"> DAYS </ion-row>
       </ion-col>

       <ion-col col-sm-6 style="margin-top: 6%;">
        VALIDITY
        </ion-col>

        </ion-row><br>
        </div>  

  <!--SUBSCRIPTION DETAILS END HERE... -->






    <!-- ACTIVATION DATE HERE... -->
    <ion-row>
    <ion-col>

    <p class="acvtdate">   ACTIVATED ON: 22-01-2018 ,3:43AM    </p>

    </ion-col>
    </ion-row>

   <!-- ACTIVATION DATE END... -->




</ion-content>
           <!-- PAGE BODY END HERE....... -->