    
    <!-- BILL HISTORY HEADER  -->
 <ion-header>
 <ion-navbar>
 <ion-title class="topheader">
   BILL HISTORY
 </ion-title>
  <ion-icon name="home" class="homeicon"></ion-icon>
  </ion-navbar>
  </ion-header> 
         
  <!--BILL HISTORY HEADER END ..... -->
  
  
  
  
   <!-- PAGE BODY STARTS.......  -->
  
  <ion-content  class="main">
  <ion-grid>
  

    <!-- DATE PICKER START......... -->
     <ion-row>

     <ion-col col-sm-4>
     <ion-label  stacked  >FROM</ion-label>
     <ion-datetime displayFormat="MMM DD YYYY" class="input-style"  pickerFormat="MMM DD YYYY"[(ngModel)]="dateOfvent" (click)="fromdate()" ></ion-datetime>
     </ion-col>
  
      <ion-col  col-sm-4>
      <!-- <ion-item > -->
      <ion-label  stacked >TO</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY"[(ngModel)]="dateOfvent1" (click)="todate()" ></ion-datetime>
      <!-- </ion-item> -->
      </ion-col>
  
      </ion-row>
  
   <!-- DATE PICKER END......... -->
  



   <!-- CUSTOMER CONTACT NUMBER ... -->
  
     <ion-row>
     <ion-col col-sm-12>
     <ion-label  stacked > CUSTOMER CONTACT NUMBER  </ion-label>
     <ion-input type="tel" pattern="[0-9]*" maxlength="10" class="input-style" (click)="custonumber()" ></ion-input>
     </ion-col>
     </ion-row>
  
 <!-- CUSTOMER CONTACT NUMBER  END ... -->

  

      <!-- SUBMIT BUTTON......... -->
        <ion-row>
        <ion-col col-sm-12 offset-4>
        <button ion-button  color="light" class="lastbutton" (click)="submitinput()" >SUBMIT</button>
        </ion-col>
        </ion-row>
     <!-- SUBMIT BUTTON END............ -->



       <!-- TOTAL BILLS STARTS .. -->

        <ion-row>
        <ion-col class="trans">
        <button ion-button full  color="light" class="viewbutton">TOTAL BILLS: 0</button>
        </ion-col>
        </ion-row>

     <!-- TOTAL BILLS END ... -->





        <!-- SEARCH BAR ......... -->
         <ion-row> 
        <ion-col>
        <ion-input type="text" class="input-style"  style=""placeholder="Search" ></ion-input>
        </ion-col>
         <ion-icon ios="ios-search" md="md-search" class="search"></ion-icon>
         </ion-row>
  
        <!-- SEARCH BAR END ......... -->


</ion-grid>



</ion-content>    
 <!-- PAGE BODY END..........  -->
