

//  BACKGROUND IMAGE .......

.main{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.topheader{
    margin-left:11%;
}

//  SEARCH BAR......

.search{
    //  color: white;
    //  margin-left:16em;
        position: absolute;
       margin-top: 18px;
       float: right;
}

.text-input::-moz-placeholder {
    color:gray;
    text-indent:40px;
  }
  
  .text-input:-ms-input-placeholder {
    color: gray;
    text-indent:40px;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent:40px;
    color:gray;
  }



//   SEACRH ICON ...

ion-icon.search.icon.icon-md.ion-md-search {
    margin-left: 16em !important;
}


ion-icon.search.icon.icon-ios.ion-ios-search {
    margin-left: 16em !important;
}