



     <!-- HEADER STARTS.... -->

    <ion-header>
    <ion-navbar>
    <ion-title class="salesheader">
    SALES REPORT
    </ion-title>
    <ion-icon name="home" class="homeicon"></ion-icon>
    </ion-navbar>
    </ion-header>    
       
     <!-- HEADER END.... -->




      <!-- PAGE BODY STARTS.... -->

<ion-content  class="main">

    <ion-grid>


    <!-- DATE PICKER STARTS.... -->

    <ion-row>
    <ion-col col-sm-4>    
    <ion-label  stacked >FROM</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY" [(ngModel)]="dateOfvent" (click)="fromdate()" ></ion-datetime>
    </ion-col>
 
    <ion-col  col-sm-4>
    <ion-label  stacked >TO</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY" [(ngModel)]="dateOfvent1" (click)="todate()" ></ion-datetime>
    </ion-col>

    </ion-row>
     
     <!-- DATE PICKER END... -->



     <!-- BRANCH NAME -->
     <ion-row>
     <ion-col col-sm-12>
     <ion-label  stacked >BRANCH NAME</ion-label>
     <ion-input type="tel" class="input-style" maxlength="25" (click)="custonumber()"></ion-input>
     </ion-col>
     </ion-row>
     <!-- BRANCH NAME  END.. -->



     <!-- SUBMIT BUTTON .. -->
     <ion-row>
     <ion-col col-sm-12 offset-4>
     <button ion-button  color="light" class="lastbutton" (click)="submitinput()" >SUBMIT</button>
     </ion-col>
     </ion-row>
     <!-- SUBMIT BUTTON END.... -->




     <!-- TOTAL VISITS AND SALES ... -->
     <ion-row>
     <ion-col col-sm-4>
     <!-- <ion-item> -->
     <ion-label  stacked class="salesindent" >TOTAL VISITS</ion-label>
     <ion-input type="number" class="input-style" placeholder="0" ></ion-input>
     <!-- </ion-item> -->
     </ion-col>
     <ion-col  col-sm-4>
     <!-- <ion-item > -->
      <ion-label  stacked class="salesindent" >TOTAL SALES</ion-label>
     <ion-input type="number" class="input-style" placeholder="RS.0" ></ion-input>
      <!-- </ion-item> -->
     </ion-col>

      </ion-row>
     <!-- TOTAL VISITS AND SALES END .... -->





     <!-- VIEW DAILY REPORTS... -->

      <ion-row>
      <ion-col class="backtrans">
      <button ion-button full  color="light" class="viewbutton" (click)="dailyreport()">VIEW DAILY REPORTS</button>
      </ion-col>
      </ion-row>
     <!-- VIEW DAILY REPORTS END....... -->

   

      <!-- VIEW MONTHLY REPORTS.... -->
      <ion-row>
      <ion-col class="backtrans">
       <button ion-button full  color="light" class="viewbutton" (click)="monthlyreport()" >VIEW MONTHLY REPORTS</button>
      </ion-col>
      </ion-row>    
       <!-- VIEW MONTHLY REPORTS END....... -->






       <!-- VIEW ANNUAL REPORTS.... -->
       <ion-row>
       <ion-col class="backtrans">
       <button ion-button full  color="light" class="viewbutton" (click)="annualreport()">VIEW ANNUAL REPORTS</button>
       </ion-col>
       </ion-row>
        <!-- VIEW ANNUAL REPORTS END....... -->



        <!-- SEND ENQUIRE FOR DOWNLOADS....... -->

       <ion-row>
       <ion-col  class="backtrans">
       <button ion-button full  color="light" class="viewbuttonlast" (click)="sendenquire()" >SEND ENQUIRE FOR DOWNLOADS</button>
       </ion-col>
       </ion-row>
       <!-- SEND ENQUIRE FOR DOWNLOADS END....... -->


</ion-grid>

  <!-- PAGE BODY END.... -->
</ion-content>
 
