


// BACKGROUND IMAGE ...

.main
{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.backtrans
{
  background-color: transparent;
}

.salesheader
{
  margin-left:11%;
}

//  INPUT TYPE ....
.input-style
 {
    background-color: rgba(128, 128, 128,0.4);
    border-radius: 10px;
   
}


.salesindent
{
  text-indent:30px;
}


// PLACEHOLDER ...
.text-input::-moz-placeholder
 {
    color: white;
  }
  
  .text-input:-ms-input-placeholder 
  
  {
    color: white;
  }
  
  .text-input::-webkit-input-placeholder
   {
    text-indent:40px;
    color: white;
  }


  // VIEW BUTTON .....
  .viewbutton
  {
    background-color: rgba(116, 113, 113, 0.6);
    border-radius: 10px;
    color: white;
    font-size:14px;
  }

  


  //  LAST BUTTON......
  .viewbuttonlast
  {
    background-color: rgba(206, 200, 200, 0.4);
    border-radius: 10px;
    color: white;
    font-size: 14px;

  }



  .datetime-text
 {
    margin-top: 10px;
    color: white;
 }

 // COLOR OF ALERT MESSAGE HEADERS
 .alert-radio-label
  {
  color: #5a5ab2 !important;
}