



     <!-- HEADER STARTS HERE..... -->

 <ion-header>
  <ion-navbar>
    <ion-title style="margin-left:11%;">
   SALES REPORT
    </ion-title>
    <ion-icon name="home" class="homeicon"></ion-icon>
  </ion-navbar>
</ion-header> 
       
<!-- HEADER END  HERE..... -->




      <!-- PAGE BODY STARTS HERE..... -->

<ion-content  class="main">
<ion-grid>


    <!-- DATE PICKER STARTS HERE...... -->

  <ion-row>

  <ion-col col-sm-4>    
   <ion-label  stacked >FROM</ion-label>
   <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY"[(ngModel)]="dateOfvent" ></ion-datetime>
   </ion-col>
 
   <ion-col  col-sm-4>
   <ion-label  stacked >TO</ion-label>
   <ion-datetime displayFormat="MMM DD YYYY" class="input-style" pickerFormat="MMM DD YYYY"[(ngModel)]="dateOfvent1" ></ion-datetime>
   </ion-col>

    </ion-row>
     
    <!-- DATE PICKER END HERE...... -->



       <!-- BRANCH NAME HERE... -->

    <ion-row>
   <ion-col col-sm-12>
   <ion-label  stacked >BRANCH NAME</ion-label>
   <ion-input type="text" class="input-style" ></ion-input>
   </ion-col>
   </ion-row>
  <!-- BRANCH NAME  END HERE... -->



     <!-- SUBMIT BUTTON HERE..... -->
     <ion-row>
      <ion-col col-sm-12 offset-4>
      <button ion-button  color="light" class="lastbutton" >SUBMIT</button>
     </ion-col>
     </ion-row>
     <!-- SUBMIT BUTTON END  HERE..... -->




     <!-- TOTAL VISITS AND SALES HERE...... -->
     <ion-row>
        
        <ion-col col-sm-4>
            <!-- <ion-item> -->
            <ion-label  stacked style="text-indent:30px;">TOTAL VISITS</ion-label>
            <ion-input type="number" class="input-style" placeholder="0" ></ion-input>
           <!-- </ion-item> -->
          </ion-col>
          <ion-col  col-sm-4>
              <!-- <ion-item > -->
              <ion-label  stacked style="text-indent:30px;" >TOTAL SALES</ion-label>
              <ion-input type="number" class="input-style" placeholder="RS.0" ></ion-input>
            <!-- </ion-item> -->
            </ion-col>

    </ion-row>
     <!-- TOTAL VISITS AND SALES END HERE...... -->





   <!-- VIEW DAILY REPORTS HERE....... -->

    <ion-row>
        <ion-col style=" background-color: transparent;">
         
        <button ion-button full  color="light" class="viewbutton" (click)="dailyreport()">VIEW DAILY REPORTS</button>
       
       </ion-col>
       </ion-row>
 <!-- VIEW DAILY REPORTS END....... -->

   

    <!-- VIEW MONTHLY REPORTS HERE....... -->
       <ion-row>
          <ion-col style=" background-color: transparent;">
           
          <button ion-button full  color="light" class="viewbutton" (click)="monthlyreport()" >VIEW MONTHLY REPORTS</button>
         
         </ion-col>
         </ion-row>    
 <!-- VIEW MONTHLY REPORTS END....... -->






   <!-- VIEW ANNUAL REPORTS HERE....... -->
         <ion-row>
            <ion-col style=" background-color: transparent;">
             
            <button ion-button full  color="light" class="viewbutton" (click)="annualreport()">VIEW ANNUAL REPORTS</button>
           
           </ion-col>
           </ion-row>
 <!-- VIEW ANNUAL REPORTS END....... -->





   <!-- SEND ENQUIRE FOR DOWNLOADS....... -->

         <ion-row>
            <ion-col style=" background-color: transparent;">
             
            <button ion-button full  color="light" class="viewbuttonlast" (click)="sendenquire()" >SEND ENQUIRE FOR DOWNLOADS</button>
           
           </ion-col>
           </ion-row>
<!-- SEND ENQUIRE FOR DOWNLOADS END....... -->







</ion-grid>
</ion-content>
   <!-- PAGE BODY STARTS HERE..... -->
