page-salesreport {


}


// BACKGROUND IMAGE SCSS HERE....

.main{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}



//  INPUT TYPE SCSS HERE.....
input-style {
    background-color: rgba(128, 128, 128,0.4);
    border-radius: 10px;
   
}



// PLACEHOLDER SCSS HERE....
.text-input::-moz-placeholder {
    color: white;
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent:40px;
    color: white;
  }


  // VIEW BUTTON SCSS HERE......
  .viewbutton{
    background-color: rgba(116, 113, 113, 0.6);
    border-radius: 10px;
    color: white;
    font-size:14px;
  }

  


  //  LAST BUTTON SCSS HERE.......
  .viewbuttonlast{
    background-color: rgba(206, 200, 200, 0.4);
    border-radius: 10px;
    color: white;
    font-size: 14px;

  }