page-register {

}




    //   BACKGROUND IMAGE SCSS STARTS.....

.main{

    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}

  //   BACKGROUND IMAGE SCSS END.....





     //   HOMEICON SCSS STARTS.....

.homeicon{
    float:right;
    color:gray;
    font-size:30px;
    margin-top:-10%;
}

    //   HOMEICON SCSS END.....







    // INPUT TYPE SCSS STARTS........
.input-style {

    border-radius:13px;
}

 // INPUT TYPE SCSS END........




 


   // TOGGLE  BUTTON SCSS STARTS........

.togle
{
float:right;
margin-top:-2.8em;

position:absolute;
margin-left:15em;
}
// TOGGLE  BUTTON SCSS END........








//   IOS TOGGLE BUTTON  STARTS....

ion-toggle.togle.toggle.toggle-ios 
{
    margin-top: -12%;
    
}
//   IOS TOGGLE BUTTON  END....

 









//   IOS HEADER START..........
.toolbar-title.toolbar-title-ios
 {
    margin-left: -34%;
}

//   IOS HEADER END..........


