
 <!-- PAGE HEADER STARTS ..... -->
<ion-header>
<ion-navbar>
<ion-title class="bheader">
 MY SUBSCRIPTION 
 </ion-title>
<ion-icon name="home" class="homeicon"></ion-icon>
</ion-navbar>
</ion-header> 
  <!-- PAGE HEADER END...... -->
   




 <!-- PAGE BODY STARTS...... -->

<ion-content padding class="main">


    <!-- ACCOUNT DETAILS START.. -->
    <div class="acntdetl">
    <p class="acntheader"> ACCOUNT DETAILS </p>



    <!-- REGISTERED ACCOUNT NAME STARTS... -->
     <ion-row class="leftpadng">  
     <ion-col col-sm-6> 
     Registered to 
     </ion-col> 
     <ion-col col-sm-6>  :mnb </ion-col>
     </ion-row>
     <!-- REGISTERED ACCOUNT END... -->
   





     <!-- APP PACKAGE TYPE START ... -->
     <ion-row class="leftpadng"> 
     <ion-col col-sm-6> 
     App Package Type
     </ion-col>
     <ion-col col-sm-6> 
     :Elite
     </ion-col>
     </ion-row>
     <!-- APP PACKAGE TYPE END.... -->






     <!-- SMS PACKAGE TYPE START... -->
     <ion-row class="leftpadng"> 
     <ion-col col-sm-6> 
     SMS Package  
      </ion-col>

     <ion-col col-sm-6> 
     :25000
     </ion-col>
     </ion-row>

     <!-- SMS PACKAGE TYPE END..... -->






     <!-- ACTIVATION CODE STARTS.... -->

     <ion-row class="leftpadng"> 
     <ion-col col-sm-6> 
     Activation Code  
      </ion-col>

     <ion-col col-sm-6> 
     :333
     </ion-col>
     </ion-row>

     <!-- ACTIVATION CODE STARTS..... -->

     </div>

     <!-- ACCOUNT DETAILS END.. -->





     <!-- SUBSCRIPTION  DETAILS START.. -->
     <div class="acntdetl2">
     <p class="acntheader"> SUBSCRIPTION DETAILS </p>

     <ion-row>
     <ion-col col-sm-6 offset-2 class="numberdays">
     <ion-row>
       93
     </ion-row>

     <ion-row class="days"> DAYS </ion-row>
     </ion-col>

     <ion-col col-sm-6 class="validity">
     VALIDITY
     </ion-col>
     </ion-row>
     </div>  

      <!--SUBSCRIPTION DETAILS END ... -->






     <!-- ACTIVATION DATE .. -->
     <ion-row>
     <ion-col>

     <p class="acvtdate">   ACTIVATED ON: 22-01-2018 ,3:43AM    </p>

     </ion-col>
     </ion-row>

     <!-- ACTIVATION DATE END... -->




</ion-content>
           <!-- PAGE BODY END ....... -->