page-billhistory {

}

//  BACKGROUND IMAGE SCSS HERE........

.main{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}



//  SEARCH BAR SCSS HERE......

.search{
    color: white;
    margin-left: 16em ;
    position: absolute;
    margin-top: 18px;
}



//   ANDROID SEACRH ICON SCSS HERE...
ion-icon.search.icon.icon-md.ion-md-search {
    margin-left: 16em;
}




//   IOS SEARCH ICON SCSS HERE....
ion-icon.search.icon.icon-ios.ion-ios-search {
    margin-left: 16em;
}