


//   HEADER START........

.home{
    margin-left: 10%;
    font-size:200%;
}

.homeicon{
    float:right;
    color:gray;
    font-size:30px;
    margin-top:-10%;
}

.userheading{
    margin-left:11%;
}


// .labelname{

//     color: white;
// }

ion-label#lbl-0 {
    color: white;
}
ion-label#lbl-1 {
    color: white;
}
ion-label#lbl-2 {
    color: white;
}
ion-label#lbl-3 {
    color: white;
}
ion-label#lbl-4 {
    color: white;
}
ion-label#lbl-5 {
    color: white;
}
ion-label#lbl-6 {
    color: white;
}
ion-label#lbl-7 {
    color: white;
}
ion-label#lbl-8 {
    color: white;
}


// HEADER END ........





//   BACKGROUND IMAGE OF BODY STARTS....

.main{
    background-image: url("../../assets/imgs/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}  
//   BACKGROUND IMAGE OF BODY END....





//    INPUT STYLE STARTS HERE.....

.input-style {
    border: 1px solid gray;
    border-radius:14px;
    color:white;
    background-color: rgba(185, 177, 177,0.5);
}


 //    INPUT STYLE END.....

.mobnum{
    margin-left:4%;
}



//  BUTTON SHADOW ...

.button{
  box-shadow:none !important;
}
  //  BUTTON SHADOW END......
  

  



    //  LABEL START HERE...
ion-item.item.item-block.item-md 
{
    // background-color: rgba(185, 177, 177,0.5);
    // border: 1px solid gray;
    // border-radius: 12px;
    // color: white;
   
}

.label-md[stacked]
 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 6px !important;
}

.item-md.item-input .item-inner
 {
 border-bottom-color: transparent !important;
 box-shadow: none !important; 
    } 

.list-md .item-input:last-child
 {
 border-bottom-color: transparent !important;
  box-shadow: none !important; 
}

 //  LABEL END ...







  //  2nd LABEL START ...

.ion-item
.item.item-block.item-ios.item-input.item-label-stacked
 {
    background-color: transparent;
}

.label-ios[stacked]
 {
    margin-bottom: 6px;
    font-size: 1.2rem;
    color: white;
}

.item[no-lines], .item.item[no-lines] .item-inner
 {
    border: 0;
    background-color: transparent;
}
  //  2nd LABEl END ....




    // BUTTONS ..... 
.lastbutton{
    border-radius:9px;

}

.editbtn{
    margin-left:12%;
}

.savebtn{
    margin-left:-4%;
}




