
     <!-- USER PROFILE  HEADER STARTS..........  -->

     <ion-header>
     <ion-navbar>
     <ion-title class="userheading">
     USER PROFILE
     </ion-title>
      <ion-icon name="home" class="homeicon"></ion-icon>
     </ion-navbar>
     </ion-header> 

    <!-- USER PROFILE  HEADER END ..........  -->




    <!-- MAIN PAGE START HERE........ -->

    <ion-content padding class="main">


  <!-- OWNER NAME STARTS ..... -->
     <ion-row>
     <ion-col>
     <ion-item no-lines>
     <ion-label class="labelname" stacked >OWNER NAME</ion-label>
     <ion-input type="text" class="input-style" [disabled]="disabled" maxlength="15"></ion-input>
     </ion-item>
     </ion-col>
     </ion-row>
  <!-- OWNER NAME END..... -->
 


  <!-- COMPANY NAME STARTS ...... -->
  <ion-row>
  <ion-item no-lines>
  <ion-label class="labelname" stacked >COMPANY NAME</ion-label>
  <ion-input type="text" class="input-style" [disabled]="disabled" maxlength="15" ></ion-input>
   </ion-item> 
  </ion-row>
  <!-- COMPANY NAME END ...... -->



  <!--EMAIL ADDRESS  STARTS ...... -->
     <ion-row>
     <ion-item no-lines>
     <ion-label  stacked class="labelname">EMAIL ADDRESS </ion-label>
     <ion-input type="email" class="input-style" [disabled]="disabled"  maxlength="35" ></ion-input>
     </ion-item>
    </ion-row>
 <!--EMAIL ADDRESS  END ..... -->



  
  <!--MOBILE NUMBER  STARTS...... -->
     <form>
     <ion-row>
     <ion-col col-xs-4 col-sm-4 class="mobnum">   
    <!-- <ion-item no-lines> -->
     <ion-label class="labelname" stacked >MOBILE NUMBER</ion-label>
     <ion-input type="tel" pattern="[0-9]*" maxlength="10"  required [disabled]="disabled" class="input-style"></ion-input>
     <!-- </ion-item> -->
    </ion-col>
  <!--MOBILE NUMBER  END ..... -->




  <!--LANDLINE NUMBER  STARTS ..... -->
    <ion-col col-xs-4 col-sm-4>  
    <!-- <ion-item no-lines> -->
     <ion-label class="labelname" stacked >LANDLINE NUMBER</ion-label>
     <ion-input type="tel"   maxlength="10" pattern="[0-9]*" [disabled]="disabled" class="input-style"></ion-input>
     <!-- </ion-item> -->
    </ion-col>
 

    </ion-row>
    </form>
 <!--LANDLINE NUMBER  END ..... -->




  <!--WEBSITE  STARTS ..... -->
     <ion-row>    
     <ion-item no-lines>
     <ion-label class="labelname" stacked >WEBSITE </ion-label>
     <ion-input type="text" class="input-style" maxlength="25" [disabled]="disabled" ></ion-input>
     </ion-item>
     </ion-row>
 <!--WEBSITE  END ...... -->




  <!--ADDRESS  STARTS..... -->
    <ion-row>
    <ion-item no-lines>
     <ion-label class="labelname" stacked >ADDRESS</ion-label>
     <ion-input type="text" class="input-style" maxlength="35" [disabled]="disabled" ></ion-input>
    </ion-item>
    </ion-row>
  <!--ADDRESS  END ...... -->






  <!--WORKING HOURS  STARTS...... -->
     <ion-row>
     <ion-item no-lines>
     <ion-label class="labelname" stacked >WORKING HOURS</ion-label>
     <ion-input type="number" class="input-style" maxlength="5" [disabled]="disabled"></ion-input>
     </ion-item>
    </ion-row>
  <!--WORKING HOURS  END..... -->
 



 
    <!--BRANCHES  STARTS...... -->
     <ion-row>
     <ion-item no-lines>
     <ion-label class="labelname" stacked >BRANCHES</ion-label>
     <ion-input type="text" class="input-style" maxlength="20" [disabled]="disabled"></ion-input>
     </ion-item>
     </ion-row>
    <!--BRANCHES  END..... -->
 
 
 
 


 
  <!-- EDIT SAVE, CANCEL, BUTTONS........ -->
 
   <ion-row>


   <ion-col col-sm-3 >
   <ion-item no-lines class="editbtn">
   <button ion-button  color="light" class="lastbutton" (click)="editpage()" >EDIT</button>
   </ion-item>
   </ion-col>

   <ion-col col-sm-3  class="savebtn">
   <ion-item no-lines>
   <button ion-button color="light" class="lastbutton" (click)="savechenge()">SAVE</button>
   </ion-item>
   </ion-col>
 
   <ion-col col-sm-3>   
   <ion-item no-lines>
   <button ion-button  color="light" class="lastbutton" (click)="back()">CANCEL</button>
   </ion-item>
   </ion-col>


   </ion-row>

  <!-- EDIT SAVE, CANCEL, BUTTONS....... -->

 
 </ion-content>
 
 
    <!-- MAIN PAGE END ......... -->