

    <!-- SETTINGS  HEADER STARTS..........  -->

    <ion-header>
    <ion-navbar>
    <ion-title class="headerhead">
    SETTINGS
    </ion-title>
    <ion-icon name="home" class="homeicon"></ion-icon>
     </ion-navbar>
    </ion-header> 
       
    <!-- SETTINGS  HEADER END..........  -->




    <!-- SETTINGS BODY STARTS HERE.......... -->

<ion-content padding class="main">




    <!-- ENABLE TAX CODE START......  -->
    <ion-row>
    <ion-item no-lines>
    <ion-label color="" stacked >ENABLE TAX</ion-label>
    <ion-input  class="input-style"></ion-input>
    </ion-item>    
    </ion-row>
    <ion-toggle class=" togle" [checked]="toggleStatus" (ionChange)="enabletax()"></ion-toggle>

    <!-- ENABLE TAX  CODE END ......  -->

     



     <!-- GST NUMBER CODE START......  -->
   <ion-row>
   <ion-item no-lines>
   <ion-label color="" stacked >GST NUMBER</ion-label>
   <ion-input  class="input-style"></ion-input>
   </ion-item>
   </ion-row>
   <ion-toggle class="togle" checked="false" (ionChange)="gstnumber()"></ion-toggle>

    <!-- GST NUMBER  CODE END ......  -->





    <!-- APP LOCK CODE START......  -->
    <ion-row>
    <ion-item no-lines>
    <ion-label color="" stacked >APP LOCK</ion-label>
    <ion-input  class="input-style"></ion-input>
    </ion-item>
    </ion-row>
    <ion-toggle class="togle" checked="false" (ionChange)="applock()"></ion-toggle>
    
     <!-- APP LOCK CODE END......  -->

   
        

   
   <!-- REFERRAL DISCOUNT  CODE START......  -->
   <ion-row>
   <ion-item no-lines>
   <ion-label color="" stacked >REFERRAL DISCOUNT</ion-label>
   <ion-input  class="input-style"></ion-input>
   </ion-item>
   </ion-row>
   <ion-toggle class="togle" checked="false" (ionChange)="referaldiscount()"></ion-toggle>
       
   <!-- REFERRAL DISCOUNT  CODE END......  -->







   <!-- BILL PREFIX  CODE START......  -->
   <ion-row>
   <ion-item no-lines>
   <ion-label color="" stacked >BILL PREFIX</ion-label>
   <ion-input  class="input-style"></ion-input>
   </ion-item>
   </ion-row>
   <ion-toggle class="togle" checked="false" (ionChange)="billprefix()"></ion-toggle>
        
     <!-- BILL PREFIX  CODE END......  -->






   <!-- ADD TIN NUMBER  CODE START......  -->
   <ion-row>
   <ion-item no-lines>
   <ion-label color="" stacked >ADD TIN NUMBER</ion-label>
   <ion-input  class="input-style"></ion-input>
   </ion-item>
   </ion-row>
   <ion-toggle class="togle" checked="false" (ionChange)="addtinnumber()"></ion-toggle>
    
   <!-- ADD TIN NUMBER CODE END......  -->






   <!-- INVOICE PREFIX CODE START......  -->

   <ion-row>
   <ion-item no-lines>
   <ion-label color="" stacked >INVOICE PREFIX</ion-label>
   <ion-input  class="input-style"></ion-input>
   </ion-item>
   </ion-row>
   <ion-toggle class="togle" checked="false" (ionChange)="invoiceprefix()"></ion-toggle>
        
   <!-- INVOICE PREFIX CODE END......  -->


</ion-content>
          <!-- SETTINGS BODY END ........ -->