
       

                
                  <!-- WELCOME PAGE START ....... -->

                  <ion-content class="pagebody" padding>

                  <p class="heading1"> WELCOME </p>
                  
                  
                         <!-- EMOBILL LOGO... -->
                  
                  <ion-row  class="emobtop" >
                   <ion-col col-sm-4 col-xs-12 offset-4>
                   <ion-img  class="emob" src="../../assets/imgs/emob.png"></ion-img>
                   </ion-col>
                  </ion-row>
                  
                       <!-- EMOBILL LOGO END.... -->
                  
                  
                  <p class="heading2"> Powered By </p>
                  
                  <!-- EASTSHINE LOGO START .. -->
                  <ion-col col-sm-5 col-xs-12 offset-5>
                  <ion-img class="eslogo" src="../../assets/imgs/eslogo.png"></ion-img>
                  </ion-col>
                   <!-- EASTSHINE LOGO END .... -->
                  
                  
                  <p class="heading3"> EASTSHINE IT SOLUTIONS </p>
                  
                 <!-- Start button start. -->
                  <ion-row >
                  <ion-col col-sm-4 col-xs-12 offset-4 >
                  <button ion-button color="light" round class="startbutton" (click)="start()">START</button>
                  </ion-col>
                 </ion-row>
                 <!-- Start button end. -->
                  
                  
                 <!-- Free Trail button  Start . -->
                 <ion-row>
                  <ion-col col-sm-3 col-xs-12 offset-2 >
                 <button ion-button color="light" class="freetrailbutton" round (click)="freetrail()">FREE TRAIL</button>
                 </ion-col>
                 </ion-row>
                  
                   <!-- Free Trail  button End . -->
                  
                

                  <!-- Social Media Links start   -->
                  
                  <ion-row >
                  <ion-col col-sm-5 col-xs-12  offset-2 style="margin-top:10%;">
                    
                  <ion-col col-sm-1>
                  <a href="http://ionicframework.com/docs/v2">   <img class="socialicons" style="" src="../../assets/imgs/0264a.png"> </a>
                  </ion-col>
            
                   <ion-col col-sm-1>
                   <a href="http://ionicframework.com/docs/v2">  <img class="socialicons" style="" src="../../assets/imgs/round-linkedin-icon.png">  </a>
                  </ion-col>
                  
                  <ion-col col-sm-1> 
                  <a href="http://ionicframework.com/docs/v2"> <img class="socialicons" style="" src="../../assets/imgs/twitter1.png"> </a> 
                  </ion-col>
                  
                  <ion-col col-sm-1> 
                  <a href="http://ionicframework.com/docs/v2">  <img class="socialicons" style="" src="../../assets/imgs/WITC_SocialIcon_YouTube.png">   </a>
                  </ion-col>
                  
                  
                  </ion-col>
                  </ion-row> 
                  
                 <!-- Social Media Links End .. -->
                  
                  
                  </ion-content>
                             
                  <!-- WELCOME PAGE END ........ -->