
        
 //  WELCOME ....
    
    .heading1{
    text-align: center;
     margin-top:7%;
     font-size:25px;
    }
    
   .pagebody{
    color:gray;
   } 
    
    // EMOBILL LOGO ....
    
    .emob{
    height:360%;
    width:55%;
    background-color:transparent;
    }
   .emobtop{

    margin-top:6%;
   }
   
   
    
    
    
    // Powered By ...
    
    .heading2{
    text-align: center;
    margin-top:27%;
    font-size:12px;
    }
    
    
    
    
    // EASTSHINE LOGO ..
    .eslogo{
    width:15%;
     height:10%;
     background-color:transparent;
    }
    
    
    
    
       // EASTSHINE IT SOLUTIONS....
    .heading3{
    text-align: center;
    font-weight:unset;
    font-size:15px;
    margin-top: 12px;
    }
    
    
    
    
    // START BUTTON .......
    
    .startbutton{
    
        background-color:rgb(211, 211, 200);
        box-shadow: none !important;
            
    }
    
    
    
    
    
        // FREE TRAIL  BUTTON ....
    
    .freetrailbutton{
    
        width:85%;
        background-color:rgb(211, 211, 200);
        box-shadow: none !important;
        margin-left: 2%;
    
    }
    
     // FREE TRAIL  BUTTON....
    
    button.freetrailbutton
    .disable-hover
    .button.button-md
    .button-default
    .button-default-md
    .button-round
    .button-round-md
    .button-md-light {
     
        color:#413c3c;
    
    }
    
    
     // FREE TRAIL  BUTTON ....
    
    button
    .freetrailbutton
    .disable-hover
    .button
    .button-ios
    .button-default
    .button-default-ios
    .button-round
    .button-round-ios
    .button-ios-light {
        margin-left: 3%;
      
    }
       
    
    
    
    
        // SOCIAL ICON LINKS.......
    
    .socialicons{
    
       
        height: 3em;
        width: auto;
        background-color:transparent;
    
        //  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
        // box-shadow: 0px 4px 0px 0px grey;
    
       
    
    }
    
    


