   
   
   <!-- PAGE HEADER STARTS HERE...... -->

<ion-header>
    <ion-navbar>
      <ion-title style="margin-left:11%;">
     DAILY REPORT
      </ion-title>
      <ion-icon name="home" class="homeicon"></ion-icon>
    </ion-navbar>
  </ion-header> 
   
 <!-- PAGE HEADER STARTS END HERE...... -->



   <!-- PAGE BODY STARTS HERE...... -->
<ion-content class="main">


       <!-- TOTAL VISIT VIEWS HERE... -->
      <ion-row>
        <ion-col  class="trans">
        <button ion-button full  color="light" class="viewbutton">TOTAL VISITS: 0</button>
       </ion-col>
       </ion-row>

            <!-- TOTAL VISIT VIEWS END HERE... -->





         <!-- TOTAL SALES VISIT VIEWS HERE... -->
       <ion-row>
          <ion-col class="trans">
          <button ion-button full  color="light" class="viewbutton">TOTAL SALES: RS. 0</button>
         </ion-col>
         </ion-row>
         <!-- TOTAL SALES VISIT VIEWS END  HERE... -->







                      <!-- SEARCH BAR HERE.............. -->
         <ion-row> 
         <ion-col>
            <ion-input type="text" class="input-style"  style="text-indent:-35px;"placeholder="Search" ></ion-input>
            
          </ion-col>
          <ion-icon ios="ios-search" md="md-search" class="search"></ion-icon>
        </ion-row>
                   <!-- SEARCH BAR END HERE.............. -->

</ion-content>        
                   <!-- PAGE BODY STARTS HERE...... -->








   <!-- PAGE FOOTER STARTS HERE.......... -->
<ion-footer>
    <ion-row>
        <ion-col class="trans">
        <button ion-button full  color="light" class="viewbutton">TOTAL BILLS:</button>
       </ion-col>
       </ion-row>
  </ion-footer>
  <!-- PAGE FOOTER STARTS END HERE.......... -->