
     <!-- USER PROFILE  HEADER STARTS..........  -->

 <ion-header>
    <ion-navbar>
      <ion-title style="margin-left:11%;">
     USER PROFILE
      </ion-title>
      <ion-icon name="home" class="homeicon"></ion-icon>
    </ion-navbar>
  </ion-header> 

  <!-- USER PROFILE  HEADER END ..........  -->






 <!-- MAIN PAGE START HERE........ -->

 <ion-content padding class="main">


  <!-- OWNER NAME STARTS HERE...... -->
 
 <ion-row>
   <ion-col>
 <ion-item no-lines>
     <ion-label class="labelname" stacked >OWNER NAME</ion-label>
     <ion-input type="text" class="input-style" style="color:white"></ion-input>
   </ion-item>
  </ion-col>
 </ion-row>
  <!-- OWNER NAME END  HERE...... -->
 




  <!-- COMPANY NAME STARTS HERE...... -->
  <ion-row>
   <ion-item no-lines>
     <ion-label class="labelname" stacked >COMPANY NAME</ion-label>
     <ion-input type="text" class="input-style"></ion-input>
   </ion-item> 
</ion-row>
 <!-- COMPANY NAME END HERE...... -->



  <!--EMAIL ADDRESS  STARTS HERE...... -->
  <ion-row>
   <ion-item no-lines>
     <ion-label  stacked class="labelname">EMAIL ADDRESS </ion-label>
     <ion-input type="email" class="input-style"></ion-input>
   </ion-item>
 </ion-row>
 <!--EMAIL ADDRESS  END HERE...... -->



  
  <!--MOBILE NUMBER  STARTS HERE...... -->
 <ion-row>
        
      <ion-col col-xs-4 col-sm-4 style="margin-left:4%;">   
   <!-- <ion-item no-lines> -->
     <ion-label class="labelname" stacked >MOBILE NUMBER</ion-label>
     <ion-input type="number" class="input-style"></ion-input>
   <!-- </ion-item> -->
 </ion-col>
 <!--MOBILE NUMBER  END HERE...... -->




  <!--LANDLINE NUMBER  STARTS HERE...... -->
 <ion-col col-xs-4 col-sm-4>  
   <!-- <ion-item no-lines> -->
     <ion-label class="labelname" stacked >LANDLINE NUMBER</ion-label>
     <ion-input type="number" class="input-style"></ion-input>
   <!-- </ion-item> -->
 </ion-col>
 
   </ion-row>
 <!--LANDLINE NUMBER  END HERE...... -->




  <!--WEBSITE  STARTS HERE...... -->
  <ion-row>    
   <ion-item no-lines>
     <ion-label class="labelname" stacked >WEBSITE </ion-label>
     <ion-input type="text" class="input-style"></ion-input>
   </ion-item>
  </ion-row>
 <!--WEBSITE  END  HERE...... -->




  <!--ADDRESS  STARTS HERE...... -->
  <ion-row>
   <ion-item no-lines>
     <ion-label class="labelname" stacked >ADDRESS</ion-label>
     <ion-input type="text" class="input-style"></ion-input>
   </ion-item>
 </ion-row>
  <!--ADDRESS  END HERE...... -->






  <!--WORKING HOURS  STARTS HERE...... -->
  <ion-row>
   <ion-item no-lines>
     <ion-label class="labelname" stacked >WORKING HOURS</ion-label>
     <ion-input type="number" class="input-style"></ion-input>
   </ion-item>
   </ion-row>
 <!--WORKING HOURS  END HERE...... -->
 



 
    <!--BRANCHES  STARTS HERE...... -->
    <ion-row>
   <ion-item no-lines>
     <ion-label class="labelname" stacked >BRANCHES</ion-label>
     <ion-input type="text" class="input-style"></ion-input>
   </ion-item>
 </ion-row>
    <!--BRANCHES  END HERE...... -->
 
 
 
 


 
  <!-- EDIT SAVE, CANCEL, BUTTONS HERE........ -->
 
   <ion-row>


   <ion-col col-sm-3 >
  <ion-item no-lines>
   <button ion-button  color="light" class="lastbutton" style="margin-left: 12%;" >EDIT</button>
  </ion-item>
  </ion-col>

   <ion-col col-sm-3 style="margin-left:-4%;">
   <ion-item no-lines>
   <button ion-button color="light" class="lastbutton" >SAVE</button>
   </ion-item>
  </ion-col>
 
   <ion-col col-sm-3>   
  <ion-item no-lines>
  <button ion-button  color="light" class="lastbutton" >CANCEL</button>
   </ion-item>
   </ion-col>


   </ion-row>

  <!-- EDIT SAVE, CANCEL, BUTTONS END  HERE........ -->

 
 </ion-content>
 
 
    <!-- MAIN PAGE END HERE.......... -->