   
   
   <!-- PAGE HEADER STARTS ...... -->

   <ion-header>
   <ion-navbar>
   <ion-title style="margin-left:11%;">
    ANNUAL REPORT
    </ion-title>
     <ion-icon name="home" class="homeicon"></ion-icon>
    </ion-navbar>
    </ion-header> 
     
    <!-- PAGE HEADER END ...... -->
  
  
  
   <!-- PAGE BODY STARTS ..... -->
  <ion-content class="main">
  
  
        <!-- TOTAL VISIT VIEWS ... -->
         <ion-row>
         <ion-col  class="trans">
         <button ion-button full  color="light" class="viewbutton">TOTAL VISITS: 0</button>
         </ion-col>
         </ion-row>
           <!-- TOTAL VISIT VIEWS END ... -->
  
  
  
  
  
           <!-- TOTAL SALES VISIT VIEWS ... -->
            <ion-row>
            <ion-col class="trans">
            <button ion-button full  color="light" class="viewbutton">TOTAL SALES: RS. 0</button>
            </ion-col>
            </ion-row>
           <!-- TOTAL SALES VISIT VIEWS END ... -->
  
  
  
  
  
  
  
            <!-- SEARCH BAR ... -->
           <ion-row> 
           <ion-col>
           <ion-input type="text" class="input-style"  style="text-indent:-35px;"placeholder="Search" ></ion-input>
           </ion-col>
           <ion-icon ios="ios-search" md="md-search" class="search"></ion-icon>
           </ion-row>
            <!-- SEARCH BAR END .... -->
  



           </ion-content>        
                     <!-- PAGE BODY END...... -->
  
  
  
  
  
  
                     
  
          <!-- PAGE FOOTER STARTS ........ -->
          <ion-footer>
          <ion-row>
          <ion-col class="trans">
          <button ion-button full  color="light" class="viewbutton">TOTAL BILLS:</button>
          </ion-col>
          </ion-row>
          </ion-footer>
          <!-- PAGE FOOTER  END .......... -->